﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-body">
    <h1 class="display-4">Welcome</h1>

    <h3 class="display-4">Step 1: Create All The Things!</h3>

    <p>Here is a method ("things/create") to create all the things! But, it isn't very good at protecting itself from
        unreasonable requets.</p>
    <ul>
        <li><a href="things/create?numberOfOneFish=1&numberOfTwoFish=1&numberOfRedFish=1&numberOfBlueFish=1">Create 4 things!</a></li>
        <li><a href="things/create?numberOfOneFish=1&numberOfTwoFish=2&numberOfRedFish=1&numberOfBlueFish=3">Create 7 things!</a></li>
        <li><a href="things/create?numberOfOneFish=1000&numberOfTwoFish=2000&numberOfRedFish=3000&numberOfBlueFish=4000">Create 10000 things... :/</a></li>
    </ul>

    <h3 class="display-4">Step 2: Build and train the Regression Model!</h3>

    <p> TODO TODO TODO
    </p>
    <ul>
        <li><a href="model/data/generate">Generate training and evaluation data into csv files!</a></li>
        <li><a href="model/train">Train the model with the test data and evaluate it for accuracy!</a></li>
        <li><a href="model/delete">Technically, you can delete the model and start over... if you want...</a></li>
    </ul>

    <h3 class="display-4">Step 3: Create All The Things! Safely!</h3>

    <p>Now when you try to create things, the model is going to evaluate TODO</p>
    <ul>
        <li><a href="things/create?numberOfOneFish=1&numberOfTwoFish=2&numberOfRedFish=3&numberOfBlueFish=4">Create 10 things!</a></li>
        <li><a href="things/create?numberOfOneFish=1000&numberOfTwoFish=2000&numberOfRedFish=3000&numberOfBlueFish=4000">Create 10000 things!</a></li>
        <li><a href="things/create?numberOfOneFish=10000&numberOfTwoFish=20000&numberOfRedFish=30000&numberOfBlueFish=40000">Create 100000 things!</a></li>
    </ul>

</div>