@model ObserveAndPredict.Models.ThingsCreateViewModel

<h1>Create ALL the things!</h1>

@if (@Model.WasRequestFulfilled)
{
    <p>The request was: <strong>Fulfilled!</strong></p>
    @if (@Model.IsModelAvailable)
    {
        <p>The request was deemed not suspicious and was therefore performed. It had a suspiciousness score of
            @Model.IsSuspiciousScore out of 100.0.</p>
    }
    else
    {
        <p>The request was performed because there is no model in place to evaluate the parameters. In other words, ask for anything you want - we'll do it!</p>
    }

    <ul>
        @foreach (string createdThing in @Model.CreatedThings)
        {
            <li>@createdThing</li>
        }
    </ul>
}
else
{
    <p>The request was: <strong>Denied!</strong></p>
    <p>The request was deemed SUSPICIOUS and was therefore NOT performed. It had a suspiciousness score of
        @Model.IsSuspiciousScore out of 100.0.</p>
}
