@{
    ViewData["Title"] = "Things";
}

<div class="text-body">
    <h1 class="display-4">Manage Things</h1>

    <ul>
        <li><a href="things/create?numberOfOneFish=1&numberOfTwoFish=2&numberOfRedFish=3&numberOfBlueFish=4">Create 10 things!</a></li>
        <li><a href="things/create?numberOfOneFish=1000&numberOfTwoFish=2000&numberOfRedFish=3000&numberOfBlueFish=4000">Create 10000 things!</a></li>
        <li><a href="things/create?numberOfOneFish=10000&numberOfTwoFish=20000&numberOfRedFish=30000&numberOfBlueFish=40000">Create 100000 things!</a></li>
    </ul>
</div>