@model ObserveAndPredict.Models.GenerateTrainingDataViewModel

<h3>Training Data Generation</h3>
<p><strong>Training data CSV path:</strong> <a href="@Model.TrainingDataPath"><code>@Model.TrainingDataPath</code></a></p>
<p><strong>Number of "Good" requests in training data:</strong> <code>@Model.NumberOfGoodItemsInTrainingData</code></p>
<p><strong>Number of "Bad" requests in training data:</strong> <code>@Model.NumberOfBadItemsInTrainingData</code></p>
<p><strong>Time (ms) to generate:</strong> <code>@Model.MillisecondsToGenerateTrainingData</code></p>
<br/>
<hr/>
<br/>
<h3>Evaluation Data Generation</h3>
<p><strong>Evaluation data CSV path:</strong> <a href="@Model.EvaluationDataPath"><code>@Model.EvaluationDataPath</code></a></p>
<p><strong>Number of "Good" requests in evaluation data:</strong> <code>@Model.NumberOfGoodItemsInEvaluationData</code></p>
<p><strong>Number of "Bad" requests in evaluation data:</strong> <code>@Model.NumberOfBadItemsInEvaluationData</code></p>
<p><strong>Time (ms) to generate:</strong> <code>@Model.MillisecondsToGenerateEvaluationData</code></p>