@{
    ViewData["Title"] = "Model Actions";
}

<div class="text-body">
    <h1 class="display-4">Model Actions</h1>

    <ul>
        <li><a href="model/data/generate">Generate training and evaluation data into csv files!</a></li>
        <li><a href="model/train">Train the model with the test data and evaluate it for accuracy!</a></li>
        <li><a href="model/delete">Technically, you can delete the model and start over... if you want...</a></li>
    </ul>
</div>