@using System.Net
@model ObserveAndPredict.Models.TrainNowViewModel

<h3>Training Results</h3>
@if (Model.Status.Status != HttpStatusCode.OK)
{
    <p>Unfortunately, the model failed to train correctly. The reported error was: <code>@Model.Status.Message</code></p>
}
else
{
    <p><strong>Time (in MS) to train and evaluate the model: </strong><code>@Model.MillisecondsToTrainAndEvaluateModel</code></p>
    <p><strong>RSquared: </strong><code>@Model.ModelProperties.RSquared</code></p>
    <p><strong>RootMeanSquaredError: </strong><code>@Model.ModelProperties.RootMeanSquaredError</code></p>
    <p><strong>MeanAbsoluteError: </strong><code>@Model.ModelProperties.MeanAbsoluteError</code></p>
    <p><strong>MeanSquaredError: </strong><code>@Model.ModelProperties.MeanSquaredError</code></p>
}